.caseview-header{
  background-image: url("/img/steto-header.jpg");
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom:5vh;
  background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: top   ;
    background-size:cover; 
  color: white;
}

.admin-caseview-header{
  background-image: url("img/medical.jpg");
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-bottom:5vh;
  background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: right center;
    background-size:cover; 
  color: white;
}