.appBar {
  background-color: #0c6dc4 !important;
  color:white !important;
}

.more {
  background-color: #0c6dc4 !important;
  color:white !important;
}

  img {
    width: 100px;
    height: auto;
  }

  h1 {
    font-size: 28px;
  }

  .noWrap {
    white-space: nowrap;
  }

// .navbar a {
//  color: white !important;
//}
//
//.navbar a:active {
//  background-color: #095496 !important;
//}

//.navbar a:hover {
//  background-color: #0c6dc4 !important;
//  color:white;
//}
//.authDropdown a:active {
//  color: white !important;
//  background-color: #0c6dc4 !important;
//}
// .authDropdown a {
//   color: #0c6dc4 !important;
// }

//.authDropdown a:hover {
//  background-color: #0c6dc4 !important;
//  color:white;
//}
