.FAQ-page{
    padding: 1em;
}

.question{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}
.answer{
    text-align: left;
}

.role{
    font-weight: bold;
}

.HowTo{
    padding-top: 1em;
    padding-bottom: 1em; 
}